/*
  ====================
  Navigation
  ====================
*/
.appbar-content {
  padding-left: 100px !important; }

.tabs {
  padding: 0 30px !important; }

/*
  ====================
  User Profile
  ====================
*/
.profile-container {
  height: 250px;
  width: 100%;
  position: relative;
  display: inline-block;
  background: #00ACC1;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.25); }

#profile-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 50px;
  padding-left: 100px;
  color: white; }
  #profile-info h1 {
    font-size: 3em;
    font-weight: 100; }

#user-avatar {
  height: 100px;
  width: 100px;
  display: block;
  margin-right: 100px;
  margin-top: -150px;
  float: right;
  /* need to create media query to remove profile picture at certain width */ }
  #user-avatar img {
    max-width: 100%;
    max-width: 100%;
    border-radius: 100%; }

/*
  ====================
  Main Container
  ====================
*/
.main-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: auto; }
  .main-container #left-sidebar {
    flex-basis: 25%;
    padding-left: 100px;
    background-color: #F5F5F5;
    box-shadow: 5px 0 20px rgba(0, 0, 0, 0.25); }
  .main-container #right-sidebar {
    flex-direction: row;
    flex-basis: 60%;
    margin: 0 auto; }

/*
  ====================
  Social Containers
  ====================
*/
.social-container {
  display: inline-block;
  height: 125px;
  width: 100%;
  background: #00ACC1;
  box-shadow: 0 -3px 20px rgba(0, 0, 0, 0.25); }
  .social-container .border {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 125px;
    width: 60%;
    margin: auto; }
  .social-container .social-icons {
    color: white; }

/*
  ====================
  Misc
  ====================
*/
.subject-color {
  color: #00ACC1; }
