/*
  ====================
  Navigation
  ====================
*/
.appbar-content {
  padding-left: 100px !important;
}

.tabs {
  padding: 0 30px !important;
}

/*
  ====================
  User Profile
  ====================
*/

.profile-container {
  height: 250px;
  width: 100%;
  position: relative;
  display: inline-block;
  background: #00ACC1;
  box-shadow: 0 4px 18px rgba(0,0,0,0.25);
}

#profile-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 50px;
  padding-left: 100px;
  color: white;


  h1 {
    font-size: 3em;
    font-weight: 100;
  }
}

#user-avatar {
  height: 100px;
  width: 100px;
  display: block;
  margin-right: 100px;
  margin-top: -150px;
  float: right;

  img {
    max-width: 100%;
    max-width: 100%;
    border-radius: 100%;
  }

  /* need to create media query to remove profile picture at certain width */
}

/*
  ====================
  Main Container
  ====================
*/

.main-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  #left-sidebar {
    flex-basis: 25%;
    padding-left: 100px;
    padding-top: 25px;
    background-color: #F5F5F5;
    box-shadow: 5px 0 20px rgba(0,0,0,0.25);
  }

  #right-sidebar {
    flex-direction: row;
    flex-basis: 60%;
    margin: 0 auto;
    padding-top: 25px;
  }
}


/*
  ====================
  Social Links Component
  ====================
*/

.social-container {
  display: inline-block;
  height: 125px;
  width: 100%;
  background: #00ACC1;
  box-shadow: 0 -3px 20px rgba(0,0,0,0.25);

  .border {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 125px;
    width: 60%;
    margin: auto;
  }

  .social-icons {
    text-align: center;
    color: white;

    a {
      color: white;
      text-decoration: none;

      &:hover {
        color: white;
      }

      &:active {
        color: white;
      }
    }
  }

}

/*
  ====================
  Professional Container
  ====================
*/

.professional-container {
  display: flex;
  flex-direction: row;
  text-align: center;

  .progress-icon {
    padding: 10px;
    accentColor: red;
  }
}

/*
  ====================
  Statement Component
  ====================
*/

.statement-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
  background: #616161;
  box-shadow: 0 4px 18px rgba(0,0,0,0.25);

  p {
    color: white;
    width: 88%;
  }
}


/*
  ====================
  Footer
  ====================
*/

.footer {
  display: inline-block;
  height: 50px;
  width: 100%;
  background: #00BCD4;

  .personal-info {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}


/*
  ====================
  Portfolio Component / Containers
  ====================
*/

.project-container {
  display: flex;
  flex-direction: row;
  height: 400px;

  img {
    max-height: 100%;
    width: 90%;
  }

  .specific-project-container {
    width: 40%;
    padding: 15px;
  }

  .one {
    padding-left: 100px;
  }
}

/*
  ====================
  Misc
  ====================
*/

.subject-color {
  color: #00ACC1;
}

.hobbie-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  justify-content: space-around;
  align-items: flex-start;

  .hobbie-icons {
    text-align: center;
    padding: 10px;
  }

  .material-icons {
    font-size: 2.5em !important;
    text-align: center;
    background: #00ACC1;
    border-radius: 10%;
    color: white !important;
  }
}
